/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Source+Code+Pro:wght@300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Custom Properties */
:root {
  /* main colours
    --dark: #1D3557;
    --medium: #457B9D;
    --light: #A8DADC;
    --white: #F4F1DE ;
    --accent: #e47819; 

    similar as SheCodes
    --dark: #320b3d;
    --medium: #591d69;
    --light: #c866cc;
    --white: #fbecf0 ;
    --accent: #ff8124; 

    Pastels
    --dark: #288c7c;
    --medium: #b3e5da;
    --light: #ffbb66;
    --white: #fff ;
    --accent: #f85a3a; */
  --dark: #3d405b;
  --medium: #6b72af;
  --light: #91caae;
  --white: #fff ;
  --accent: #e07a5f;
  --fw-reg: 300;
  --fw-bold: 700;
  --ff-body: 'Montserrat', sans-serif;
  --ff-code: 'Source Code Pro', monospace;
  --fs-h1: 2.3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.3rem;
  --fs-body: 1rem;
  /* box-shadow */
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
  /* padding container */
  --bloc: 7vh 10vw;
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 3em;
    --fs-h2: 2em;
    --fs-h3: 1.2em;
    --fs-body: 1.15rem;
  }
}

/* General Styles */
body {
  background-color: var(--white);
  font-family: var(--ff-body);
  color: var(--dark);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--medium);
  outline-offset: 3px;
}

/* Typography */
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin: 0;
  padding: 0.5em 0;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--light);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  font-size: var(--fs-h2);
  margin-bottom: .25em;
  color: var(--light);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--accent);
  font-family: var(--ff-code);
}

/* Header */
nav {
  display: none;
}

.header {
  background-color: var(--dark);
  color: var(--light);
  padding: var(--bloc);
}

.nav {
  float: right;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}

.nav li a {
  color: var(--light);
}

@media (min-width: 600px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro__text {
    padding: 0 20px 20px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    max-width: 600px;
  }
  .intro__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .intro__img > img {
    margin: auto;
  }
}

/* About Me Section */
.about-me {
  max-width: 10000px;
  margin: 0 auto;
  padding: var(--bloc);
}

.about-me__img {
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.section__subtitle--about {
  background-color: var(--dark);
  padding: 0.5rem;
}

@media (min-width: 600px) {
  .about-me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 2em;
  }
  .section__title--about {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .section__subtitle--about {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: subtitle;
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .about-me__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: img;
    position: relative;
    z-index: 2;
  }
  .about-me__body {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: text;
  }
}

/* Projects Section */
.projects__gallery {
  background-color: var(--light);
  padding: var(--bloc);
}

.projects__gallery h2 {
  color: var(--dark);
}

.projects {
  max-width: 500px;
  margin: 0 auto;
}

.projects > article {
  margin: 1rem;
}

@supports (display: grid) {
  .projects {
    max-width: 10000px;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .projects > article {
    margin: 0;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 2rem;
  text-align: center;
}

.project > a {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project__item {
  background-color: var(--medium);
  overflow: hidden;
}

.project__img {
  -webkit-transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.project__item:focus {
  position: relative;
  z-index: 2;
}

.project__img:hover,
.project__item:focus .project__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .5;
}

/* Footer */
.footer {
  background-color: var(--dark);
  color: var(--medium);
  text-align: center;
  padding: 1.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  color: var(--light);
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}
/*# sourceMappingURL=styles.css.map */