/* 1. Configuration */
/* Custom Properties */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Source+Code+Pro:wght@300&display=swap");
:root {
  /* Main colours
    --dark: #1D3557;
    --medium: #457B9D;
    --light: #A8DADC;
    --white: #F4F1DE ;
    --accent: #e47819; 

    similar as SheCodes
    --dark: #320b3d;
    --medium: #591d69;
    --light: #c866cc;
    --white: #fbecf0 ;
    --accent: #ff8124; 

    Pastels
    --dark: #288c7c;
    --medium: #b3e5da;
    --light: #ffbb66;
    --white: #fff ;
    --accent: #f85a3a; */
  --dark: #3d405b;
  --medium: #6b72af;
  --light: #91caae;
  --white: #fff ;
  --accent: #e07a5f;
  --fw-reg: 300;
  --fw-bold: 700;
  --ff-body: 'Montserrat', sans-serif;
  --ff-code: 'Source Code Pro', monospace;
  --fs-h1: 2.3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.3rem;
  --fs-body: 1.05rem;
  /* box-shadow */
  --bs: 0.25em 0.25em 0.75em rgba(61,64,91,.25), 
        0.125em 0.125em 0.25em rgba(61,64,91,.15);
  /* padding container */
  --bloc: 5vh 10vw;
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 3em;
    --fs-h2: 2em;
    --fs-h3: 1.2em;
    --fs-body: 1.15rem;
  }
}

/* Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* General Styles */
body {
  background-color: var(--white);
  font-family: var(--ff-body);
  color: var(--dark);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--medium);
  outline-offset: 3px;
}

/* Typography */
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin: 0;
  padding: 0.5em 0;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--light);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  font-size: var(--fs-h2);
  color: var(--light);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--accent);
  font-family: var(--ff-code);
}

/* 2. Layout-related sections */
nav {
  display: none;
}

.nav {
  float: right;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}

.nav li a {
  color: var(--light);
}

/* Footer */
.footer {
  background-color: var(--dark);
  color: var(--medium);
  text-align: center;
  padding: 1.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  color: var(--light);
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

/* 3. Components */
.btn {
  display: inline-block;
  padding: .5em 1.5em;
  background: var(--accent);
  color: var(--dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* 4. Page-specific styles// 4. Page-specific styles */
/* Header */
.header {
  background-color: var(--dark);
  color: var(--light);
  padding: 3vh 10vw 0;
}

.intro__text {
  padding: 2rem 0;
}

@media (min-width: 600px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    max-width: 600px;
  }
  .intro__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .intro__img > img {
    margin: auto;
  }
}

/* About Me Section */
.about-me {
  max-width: 10000px;
  margin: 0 auto;
  padding: var(--bloc);
}

.about-me__img {
  background-color: white;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  margin-top: 20px;
}

.section__title--about {
  text-align: center;
}

.section__subtitle--about {
  background-color: var(--dark);
  padding: 0.5rem;
  text-align: center;
}

.about-me__column img {
  width: 145px;
  height: auto;
  cursor: pointer;
  -webkit-animation: beat .5s infinite alternate;
          animation: beat .5s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  margin: 5px 0 -5px;
}

/* Heart beat animation */
@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes beat {
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.about-me__btn {
  margin: 20px 0 0;
}

@media (min-width: 600px) {
  .about-me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
        grid-template-areas: "img title " "img subtitle " "img text-intro" "text text" "button button";
    grid-column-gap: 2em;
    padding-top: 2vh;
  }
  .section__title--about {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    text-align: left;
    padding: 75px 0 10px;
  }
  .section__subtitle--about {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: subtitle;
    grid-column: 1 / -1;
    /* from the beginning to the last column of the grid */
    -ms-grid-row: 2;
    grid-row: 2;
    /* set up the subtitle to go behind the image and strech all over the page */
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-right: 1em;
    padding-left: calc(300px + 2.7em);
    text-align: left;
    font-size: var(--fs-h3);
    padding-bottom: 0;
  }
  .about-me__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: img;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    -webkit-box-shadow: var(--bs);
            box-shadow: var(--bs);
  }
  .about-me__text-intro {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: text-intro;
  }
  .about-me__body {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: text;
    grid-column: 1 / -1;
  }
  .about-me__btn {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: button;
    margin: 40px auto 0;
  }
}

@media (min-width: 1000px) {
  .about-me__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    margin: 40px auto 0;
    width: 100%;
  }
  .about-me__column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    /* with flex: 1 all the columns use the same space */
  }
  .about-me__column + .about-me__column {
    margin-left: 2em;
  }
}

/* Projects Section */
.projects__gallery {
  background-color: var(--light);
  padding: var(--bloc);
  text-align: center;
}

.section__title--projects {
  color: var(--dark);
}

.section__title--projects span {
  display: block;
}

/* Fallback layout */
.projects {
  max-width: 500px;
  margin: 0 auto;
}

.projects > article {
  margin: 1rem;
}

@supports (display: grid) {
  .projects {
    max-width: 10000px;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* repeat as many column as possible in the page with a minimum of 300px and a max of the same portion for all */
  }
  .projects > article {
    margin: 0;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 2rem;
  text-align: center;
}

.project__item {
  background-color: var(--medium);
  overflow: hidden;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  /* image displayed first */
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.project__img {
  -webkit-transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  width: 100%;
}

.project__item:focus {
  position: relative;
  z-index: 2;
}

.project__img:hover,
.project__item:focus .project__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .5;
}

@media (min-width: 600px) {
  .project__title {
    display: none;
  }
  .section__title--projects span {
    display: inline-block;
  }
}
/*# sourceMappingURL=styles.css.map */