:root {
    //main colours
    --dark: #012e28;
    --medium: #004e44;
    --light: #f9f2eb ;
    --accent: #ff8b51;
    --shadow: #f35341;
    //text family
    --heading: 'Pattaya', sans-serif;
    --mainText: 'Montserrat', sans-serif;
}
//reset 
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
//import fonts from Google
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pattaya&display=swap');
body{
    background-color:var(--light);
    font-family: var(--mainText);
    color: var(--dark);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading);
}
header{
    background:linear-gradient(45deg, var(--dark), var(--medium));  
    animation: gradient 10s ease infinite;
    color: var(--accent);

}

nav a{
    color: var(--light);
}

footer{
    background: linear-gradient(45deg, var(--dark), var(--medium));
    // background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    color: var(--light);

}
@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }



.shapes {
position: absolute; 
width: 60px; 
height: 60px; 
top: 150px; 
left: 1200px; 
fill: var(--accent)
}

.float {
animation-name: Floating;
animation-duration: 6s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes Floating{
    from {transform:translate(0, 0px);}
    65% {transform:translate(0, 50px);}
    to {transform: translate(0, -0px);    }    
}

.spin {
animation-name: Spinning;
animation-duration: 12s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes Spinning{
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
} 
}