
.contact-form{
    min-height: calc(100vh - 500px);
    max-width:420px; 
    margin: 3vh auto 7vh;
    padding: var(--bloc);
} 
@media (min-width: 600px){
    .contact-form{ padding: 0;}
}
.feedback-input {
    font-size: var(--fs--body);
    color: var(--dark);
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--accent);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid var(--medium); }

.contact-form__btn{
    width: 100%;
    border:0;
}
.intro__text-contact{
    max-width: 10000px;
}
.social-list-contact{
    margin:0;
}