.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--accent);
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 5px;
}
.btn:hover {
    transform: scale(1.1);
}