/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Source+Code+Pro:wght@300&display=swap');

/* Icons */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-she:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin2:before {
    content: "\eaca";
}
.icon-codepen:before {
    content: "\eae8";
}

/* Typography */

h1, 
h2, 
h3{
    font-weight: var(--fw-bold);
    line-height: 1.1;
    margin:0;
    padding:0.5em 0;
}
h1{ font-size: var(--fs-h1);
    color: var(--light);
}
h2{ font-size: var(--fs-h2)}
h3{ font-size: var(--fs-h3)}

.section__title{
    font-size: var(--fs-h2);
    color: var(--medium);
}
.section__subtitle{
    margin:0;
    font-size: var(--fs-h3);
    color: var(--accent);
    font-family: var(--ff-code);
}
a{
    font-size: inherit;
    font-weight: var(--fw-bold);
    text-decoration: none;
    color:var(--medium);
}
a:hover{
    color:var(--dark);
    text-decoration: underline;
}